.container-fluid {
	padding-right: 0 !important;
    padding-left: 0 !important;
}

.padding-10 {
	padding: 10px;
}
.padding-20 {
	padding: 20px;
}
.padding-30 {
	padding: 30px;
}
.banner-1 {
	background-color: #d2d2d242;
    padding: 29px 0 55px 0;
    .carousel-caption {
    	background: none !important;
    }
    h2 {
    	font-size: 42px;
    }
}

.jumbotron  {
	background-color: #edf1f9 !important;

	p {
	    margin-bottom: 15px;
	    font-size: 14px;
	    font-weight: 200;
	    margin-top: 11px;
	}
}
.tab-single {
    margin-bottom: 40px;
   	min-height: 357px;
}

#page.attraction  {
	.disabled {
		backgroud:#737373;
		color: #b9b9b9;
	}
}

#page.attraction {
	.inactive {
	 	background: #b94955 !important;
	}
}

.lead {
	.buy {
		color: #FFF !important;
	}
}

#page {
	.checkout {
		a.buy { color: #dedede; }

		#checkout-basket {

		}
	}
	.payment {
	    
	    cursor: pointer;

		.selected {
			background: #e71d3a;
			
			.caption {
				color: #fff;
			}
		}
	}
	
}

.is-invalid { border: 1px solid #e71f3b !important; } 
.basket-summary-total { font-size: 18px;font-weight: bold; margin-bottom: 20px;line-height:2; } 
.basket-summary-total-1 { font-size: 22px;font-weight: bold; text-transform: capitalize;}
.interested-in {
	a.buy {
		font-size: 13px; 
		color: #FFF !important;
	}
}