@import url(https://fonts.googleapis.com/css?family=K2D:200,300,700);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.banner-1 {
  background-color: #d2d2d242;
  padding: 29px 0 55px 0;
}

.banner-1 .carousel-caption {
  background: none !important;
}

.banner-1 h2 {
  font-size: 42px;
}

.jumbotron {
  background-color: #edf1f9 !important;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 11px;
}

.tab-single {
  margin-bottom: 40px;
  min-height: 357px;
}

#page.attraction .disabled {
  backgroud: #737373;
  color: #b9b9b9;
}

#page.attraction .inactive {
  background: #b94955 !important;
}

.lead .buy {
  color: #FFF !important;
}

#page .checkout a.buy {
  color: #dedede;
}

#page .payment {
  cursor: pointer;
}

#page .payment .selected {
  background: #e71d3a;
}

#page .payment .selected .caption {
  color: #fff;
}

.is-invalid {
  border: 1px solid #e71f3b !important;
}

.basket-summary-total {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 2;
}

.basket-summary-total-1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: capitalize;
}

.interested-in a.buy {
  font-size: 13px;
  color: #FFF !important;
}

.filter {
  top: -22px;
  z-index: 999;
  position: relative;
}

.filter .searchForm {
  background: #FFF;
  min-height: 50px;
  padding: 20px;
  background: #3e3e3e;
  box-shadow: -2px 13px 5px -10px rgba(204, 183, 183, 0.71);
  -webkit-box-shadow: -2px 13px 5px -10px rgba(204, 183, 183, 0.71);
  -moz-box-shadow: -2px 13px 5px -10px rgba(204, 183, 183, 0.71);
}

.filter .searchForm input,
.filter .searchForm select {
  height: 43px !important;
  border: 1px solid #c7c7c7 !important;
  border-radius: 1px;
}

.filter .searchForm select {
  font-weight: bold;
}

.filter .searchForm .btn-filter {
  background: #dc112e;
  border-radius: 0;
  width: 70px;
  height: 42px;
  color: #FFF;
  text-transform: capitalize;
  font-weight: bold;
}

#sresults {
  min-height: 400px;
}

.footer-header {
  border-top: 0px solid #cacaca;
  min-height: 259px;
  padding: 30px;
  box-shadow: 0px -7px 11px 0px rgba(245, 245, 245, 0.81);
  background: white;
}

.newsletter-text {
  margin-top: 20px;
}

.quote {
  font-size: 60px;
}

.footer-header h3 {
  font-size: 28px;
  font-weight: bold;
  background-color: #fdfdfd;
}

.news-del {
  border-left: 1px solid #cacaca;
  height: 233px;
}

.testi-message {
  padding: 30px;
}

#social2 ul {
  padding: 0;
  color: #fff;
  margin-top: 10px;
}

#social2 ul li {
  list-style: none;
  display: inline-block;
}

.flag-icon {
  font-size: 15px;
  margin-left: 5px;
}

a .flag-active {
  font-size: 18px;
  margin-left: 5px;
}

.mmenu {
  display: inline-block;
  cursor: pointer;
  z-index: 99999;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.buttonClose .bar1,
.buttonClose .bar2,
.buttonClose .bar3 {
  background-color: #fff;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: rotate(45deg) translate(-8px, -8px);
}

#mySidebar {
  position: fixed;
  /* Sit on top of the page content */
  display: none;
  /* Hidden by default */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232222;
  /* Black background with opacity */
  z-index: 9999;
  /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer;
  /* Add a pointer on hover */
  padding: 20px;
  color: #fff;
}

#mySidebar h2 {
  text-align: left;
  font-weigth: 600;
  font-size: 19px;
  text-transform: uppercase;
}

#mySidebar .buttonClose {
  position: absolute;
  right: 28px;
  color: #fff;
  top: 10px;
}

#mySidebar a {
  color: #fff;
}

#mySidebar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#mySidebar ul li {
  padding: 5px 5px 5px 5px;
  margin-left: 0px;
  display: list-item;
  text-align: left;
  border-bottom: 1px solid #383737;
  margin-right: 24px;
}

#mySidebar ul li a {
  font-size: 14px;
  color: #fff;
}

#mySidebar ul.account {
  margin-top: 30px;
}

