@import url(https://fonts.googleapis.com/css?family=K2D:200,300,700);@import url(https://fonts.googleapis.com/icon?family=Material+Icons);.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-30 {
  padding: 30px;
}

.banner-1 {
  background-color: #d2d2d242;
  padding: 29px 0 55px 0;
}

.banner-1 .carousel-caption {
  background: none !important;
}

.banner-1 h2 {
  font-size: 42px;
}

.jumbotron {
  background-color: #edf1f9 !important;
}

.jumbotron p {
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 200;
  margin-top: 11px;
}

.tab-single {
  margin-bottom: 40px;
  min-height: 315px;
}

#page.attraction .disabled {
  backgroud: #737373;
  color: #b9b9b9;
}

#page.attraction .inactive {
  background: #b94955 !important;
}

.lead .buy {
  color: #FFF !important;
}

#page .checkout a.buy {
  color: #dedede;
}

#page .payment {
  cursor: pointer;
}

#page .payment .selected {
  background: #e71d3a;
}

#page .payment .selected .caption {
  color: #fff;
}

